@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display:grid;
  min-height:100vh;
  place-items:center;
  background:#DDDDDD;
  transition:1s;

}

.App.dark{
  background:#404258;
  transition:1s;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.shopping-cart{
  background:white;  
  transition:1s;
}

.shopping-cart.dark{
  background:#50577A;
  color:white;
  transition:1s;

}

.order-summary {
  background:#EEEEEE;
}

.order-left{
  color:grey;
  text-align:left;
  transition:1s;
}

.order-left.dark{
  color:#EFEFEF;
  transition:1s;
}

.order-summary.dark {
  background:#474E68;
  color:white;
  transition:1s;

}

.text-cart{
  color:grey;
  transition:1s;

}

.text-cart.dark{
  color:#EFEFEF;
  transition:1s;

}


.discount-code {
  background:#EEEEEE;
}

.checkout-btn {
  background:#6B728E;
  color:white;
  padding:0.5rem;

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
